notebook
matplotlib
seaborn
scipy
scikit-learn
xgboost
lightgbm
catboost
pydrive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
from-root
evidently==0.2.8
dill
imblearn
neuro-mf
# -e .