notebook
matplotlib~=3.10.0
seaborn~=0.13.2
scipy~=1.15.1
scikit-learn~=1.6.1
xgboost~=2.1.3
lightgbm~=4.5.0
catboost~=1.2.7
pydrive
google-api-python-client~=2.159.0
google-auth-httplib2
google-auth-oauthlib~=1.2.1
from-root
evidently==0.2.8
dill~=0.3.9
imblearn~=0.0
neuro-mf
boto3==1.24.84
botocore-stubs==1.27.86
mypy-boto3-s3==1.24.76
pyyaml~=6.0.2
numpy~=1.26.4
pandas~=2.2.3
imbalanced-learn~=0.13.0
botocore~=1.27.96
protobuf~=5.29.3
setuptools~=75.1.0