notebook
matplotlib
seaborn
scipy
scikit-learn
xgboost
lightgbm
catboost
pydrive
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
from-root
evidently==0.2.8
dill
imblearn
neuro-mf
boto3==1.24.84
botocore-stubs==1.27.86
mypy-boto3-s3==1.24.76
# -e .